!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js')
    script(src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
  body
    script
      $(function() {$( "#calendar" ).datepicker({changeMonth: true,changeYear: true,dateFormat:"d M,y"}); });
      $(function() {$("#button[rel]").overlay({mask: '#000'});});
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', rel='stylesheet')
    link(href='stylesheets/default.css', rel='stylesheet', type='text/css', media='all')
    link(href='stylesheets/menu.css', rel='stylesheet', type='text/css', media='all')
    link(href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/fonts.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/check.css', rel='stylesheet', type='text/css', media='all')
    #header.container
      #logo
        h1
          a(href='index') PennTerest
      #search
        form(action='/search' method='post')
          input(type='text',name='search', cols='40', rows='1')
          input(id='submit-query', type='submit')
        
      #menu
        ul
          li.active
            a(href='/index')
              span Home
          li.active
            a(href='/profile?name=#{req.session.name}')
              span Profile

          li.has-sub
            a
              span Boards
            ul
              - if(boardResult.boardsLength!= 0)
                - for(var inx=0;inx<(boardResult.boardsLength);inx++)
                     li
                       a(href='/board?name=#{boardResult.boards[inx]}')
                         span #{boardResult.boards[inx]}
          li.active
            a
              span 
                div(id='create',rel='#forboard') Create Board
                div(id='forboard', class='simple_overlay')
                  .details
                    form(action='/createBoard',method='post')
                      label(style='color:#000;')
                        | Enter the board name: 
                        input(type='text',name='board')
                        input(type='submit',value='Submit')
                        
          li.last
            a(href='/recommendation')
              span Recommendation
              
          li.last
            a(href='/logout')
              span Logout              
      
    #page
      .container
        .title
          div(id='profile')
            p
              img(src='#{data[0].DISPLAYPICTURE}',width='320', height='240',alt='Not uploaded yet') 
              br
              | #{data[0].USERNAME}
              br
              | Date of birth: #{data[0].BIRTHDAY}
              if(data[0].BIRTHDAY==null)
                | Not uploaded yet
              br
              | Affiliation: #{data[0].AFFILIATION}
              if(data[0].AFFILIATION==null)
                | Not uploaded yet
            
            
            - if(req.session.name==req.param('name'))
                form(action='/update_profile',method='get')
                  input(id='submit-query', type='submit',value='Update Profile')
              - if(friendCount==0 && !(req.session.name==req.param('name')))  
                   
                     form(action='/friend',method='post')
                       input(type='hidden', name='user',value='#{req.session.name}')
                       input(type='hidden',name='friend',value='#{req.param("name")}')
                       input(type='submit',value='Add friend')                 	  