!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js')
  body
    - for( var inx=0;inx<(result.total);inx++)
         !="<script>$(document).ready(function(){$('#but"+inx+"[rel]').overlay({mask:'#000'});});</script>"
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', rel='stylesheet')
    link(href='stylesheets/default.css', rel='stylesheet', type='text/css', media='all')
    link(href='stylesheets/menu.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/fonts.css', rel='stylesheet', type='text/css', media='all')
    //if IE 6
      link(href='default_ie6.css', rel='stylesheet', type='text/css')
    //if IE 6
      link(href='default_ie6.css', rel='stylesheet', type='text/css')
    //if IE 6
      link(href='default_ie6.css', rel='stylesheet', type='text/css')
    //if IE 6
      link(href='default_ie6.css', rel='stylesheet', type='text/css')
    #header.container
      #logo
        h1
          a(href='#') PennTerest
      #search
        form(action='/search' method='post')
            textarea(name='search', cols='50', rows='1')
                | Enter some text...
              input(type='submit')
        
      #menu
        ul
          li.active
            a(href='index.html')
              span Home
          li.has-sub
            a(href='#')
              span Products
            ul
              li
                a(href='#')
                  span Widgets
              li
                a(href='#')
                  span Menus
              li.last
                a(href='#')
                  span Products
          li.has-sub
            a(href='#')
              span Boards
           
          li.last
            a(href='#')
              span Contact
    #page
      .container
        .title
          h2 #{(result.rem+result.bottom)}
          p
        - for( var inx=0,j=0;inx<(result.top);inx++,j=j+5)
             .boxA
               .box.margin-btm
                 img(src='#{result.answer[(j+inx)]}', width='320', height='240', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(j+inx), class='button', rel='#image'+(j+inx)) Pin it!
                 div(id='image'+(j+inx), class='simple_overlay')
                   img(src='#{result.answer[(j+inx)]}', width='320', height='240')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!
               .box
                 img(src='#{result.answer[(j+inx+1)]}', width='320', height='280', alt='')
                 .details
                     p
                       | tag1
                       | board1
                 div(id='but'+(j+inx+1),class='button',rel='#image'+(j+inx+1)) Pin it!
                 div(id='image'+(j+inx+1), class='simple_overlay')
                   img(src='#{result.answer[(j+inx+1)]}', width='320', height='280')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!
             .boxB
               .box
                 img(src='#{result.answer[(j+inx+2)]}', width='320', height='280', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(j+inx+2),class='button',rel='#image'+(j+inx+2)) Pin it!
                 div(id='image'+(j+inx+2), class='simple_overlay')
                   img(src='#{result.answer[(j+inx+2)]}', width='320', height='280')
                     .details
                       table
                         tr
                           td
                             select
                               option(value='board1') Board 1
                               option(value='board2') Board 2
                         tr
                           td
                             button Pin it!
               .box
                 img(src='#{result.answer[(j+inx+3)]}', width='320', height='240', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(j+inx+3),class='button',rel='#image'+(j+inx+3)) Pin it!
                 div(id='image'+(j+inx+3), class='simple_overlay')
                   img(src='#{result.answer[(j+inx+3)]}',, width='320', height='240')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!
             .boxC
               .box
                 img(src='#{result.answer[(j+inx+4)]}', width='320', height='240', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(j+inx+4),class='button',rel='#image'+(j+inx+4)) Pin it!
                 div(id='image'+(j+inx+4), class='simple_overlay')
                   img(src='#{result.answer[(j+inx+4)]}', width='320', height='240')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!
               .box
                 img(src='#{result.answer[(j+inx+5)]}', width='320', height='280', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(j+inx+5),class='button',rel='#image'+(j+inx+5)) Pin it!
                 div(id='image'+(j+inx+5), class='simple_overlay')
                   img(src='#{result.answer[(j+inx+5)]}', width='320', height='280')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!
                           
        - if (result.bottom >=1 )
        
             .boxA
               .box.margin-btm
                 img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='240', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(result.rem+result.bottom-1), class='button', rel='#image'+(result.rem+result.bottom-1)) Pin it!
                 div(id='image'+(result.rem+result.bottom-1), class='simple_overlay')
                   img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='280')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!
                           
        - if (result.bottom >= 2 )
        
             .boxB
               .box.margin
                 img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='280', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(result.rem+result.bottom-1), class='button', rel='#image'+(result.rem+result.bottom-1)) Pin it!
                 div(id='image'+(result.rem+result.bottom-1), class='simple_overlay')
                   img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='280')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!     
        
        - if (result.bottom >= 3)
        
             .boxC
               .box.margin
                 img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='240', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(result.rem+result.bottom-1), class='button', rel='#image'+(result.rem+result.bottom-1)) Pin it!
                 div(id='image'+(result.rem+result.bottom-1), class='simple_overlay')
                   img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='240')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!   
                          
        - if (result.bottom >= 4 )
        
             .boxA
               .box.margin-btm
                 img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='280', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(result.rem+result.bottom-1), class='button', rel='#image'+(result.rem+result.bottom-1)) Pin it!
                 div(id='image'+(result.rem+result.bottom-1), class='simple_overlay')
                   img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='280')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!   
                           
        - if (result.bottom >=5 )
        
             .boxA
               .box.margin-btm
                 img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='240', alt='')
                 .details
                   p
                     | tag1
                     | board1
                 div(id='but'+(result.rem+result.bottom-1), class='button', rel='#image'+(result.rem+result.bottom-1)) Pin it!
                 div(id='image'+(result.rem+result.bottom-1), class='simple_overlay')
                   img(src='#{result.answer[(result.rem+result.bottom-1)]}', width='320', height='240')
                   .details
                     table
                       tr
                         td
                           select
                             option(value='board1') Board 1
                             option(value='board2') Board 2
                       tr
                         td
                           button Pin it!                                                                                         