!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js')
    script(src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
  body
    script
      $(function() {$( "#calendar" ).datepicker({changeMonth: true,changeYear: true,dateFormat:"d M,y"}); });
      $(function() {$("#button[rel]").overlay({mask: '#000'});});
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', rel='stylesheet')
    link(href='stylesheets/default.css', rel='stylesheet', type='text/css', media='all')
    link(href='stylesheets/menu.css', rel='stylesheet', type='text/css', media='all')
    link(href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/fonts.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/check.css', rel='stylesheet', type='text/css', media='all')
    #header.container
      #logo
        h1
          a(href='index') PennTerest
      #search
        form(action='/search' method='post')
          input(type='text',name='search', cols='40', rows='1')
          input(type='submit')
        
      #menu
        ul
          li.active
            a(href='/index')
              span Home
          li.active
            a(href='/profile?name=#{req.session.name}')
              span Profile

          li.has-sub
            a
              span Boards
            ul
              - if(boardResult.boardsLength!= 0)
                - for(var inx=0;inx<(boardResult.boardsLength);inx++)
                     li
                       a(href='/board?name=#{boardResult.boards[inx]}')
                         span #{boardResult.boards[inx]}
          li.active
            a
              span 
                div(id='create',rel='#forboard') Create Board
                div(id='forboard', class='simple_overlay')
                  .details
                    form(action='/createBoard',method='post')
                      label(style='color:#000;')
                        | Enter the board name: 
                        input(type='text',name='board')
                        input(type='submit',value='Submit')
                        
          li.last
            a(href='/recommendation')
              span Recommendation                 
    #page
      .container
        .title
          form(action='/update_profile', method='post', enctype="multipart/form-data")
            p
              | Please select your birth date :
              input#calendar(type='text',name='bdate')
            p
              | Select your display picture :
              input(type='file', accept='image/*', name="displaypicture")   
            p
              | Please select your affiliation :
              input(type='text', name='affiliation')
            p Please update interests :
              button#button(type='button', rel='#interest') Interests
            #interest.simple_overlay
              .details
                p 
                  !="<b>Select interest</b>"
                table
                  - if(interests.length == 0)
                       p
                         | No interests
                  - for (var inx = 0; inx < interests.length ; inx++)
                      tr
                        td
                          input(type='radio', value='#{interests[inx].INTEREST}' , name='interest')
                        td &nbsp
                        td
                          p #{interests[inx].INTEREST}
                        
            input(type='submit', value='Submit')